folium==0.17.0
gcsa==2.3.0
geopy==2.4.1
googlemaps==4.10.0
numpy==2.1.1
openmeteo_requests==1.3.0
openrouteservice==2.3.3
pandas==2.2.2
polyline==2.0.2
python-telegram-bot==21.5
pytz==2023.3.post1
Requests==2.32.3
requests_cache==1.2.1
retry_requests==2.0.0
selenium==4.24.0
